# Общие
.git
.gitignore
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

venv/
.env/
.envrc
.venv/

.idea/
.vscode/
*.swp

*.log
*.coverage
.tox/
.coverage.*
.cache/
.pytest_cache/
nosetests.xml
coverage.xml
htmlcov/

dist/
build/
*.egg-info/
.eggs/
*.bak
.DS_Store
Thumbs.db
